In [1]:
import pandas as pd
import gc

In [2]:
df = pd.read_csv('../ex04/fines.csv', index_col=0)
df

         CarNumber  Refund   Fines        Make     Model  Year
0     Y163O8161RUS       2  3200.0        Ford     Focus  1989
1      E432XX77RUS       1  6500.0      Toyota     Camry  1995
2      7184TT36RUS       1  2100.0        Ford     Focus  1984
3     X582HE161RUS       2  2000.0        Ford     Focus  2015
4     92918M178RUS       1  5700.0        Ford     Focus  2014
..             ...     ...     ...         ...       ...   ...
925  PD163O3161RUS       1  3700.0      Porshe  Panamera  2001
926  PD963O8161RUS       2  2900.0  Mitsubishi    Lancer  2002
927  PD163O4161RUS       3  2350.0         KIA       Rio  2003
928  PD163O8431RUS       2  2650.0     Triumph  Spitfire  2004
929  PD16398161RUS       1  4500.0        Jiga         8  2005

[930 rows x 6 columns]

In [3]:
def loop_func(df):
    loop_list = []
    for i in range(0, len(df)):
        loop_list.append(df.iloc[i].Fines / df.iloc[i].Refund * 
                         df.iloc[i].Year)
    df['New'] = loop_list

In [4]:
%%timeit
loop_func(df)

242 ms ± 1.39 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [5]:
def iterr_func(df):
    iterr_list = []
    for i, row in df.iterrows():
        iterr_list.append(row.Fines / row.Refund * row.Year)
    df['New'] = iterr_list

In [6]:
%%timeit
iterr_func(df)

44.4 ms ± 75.6 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [7]:
def apply_func(df):
    df['New'] = df.apply(lambda x: x.Fines / x.Refund * x.Year, axis=1)

In [8]:
%%timeit
apply_func(df)

19.4 ms ± 36.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [9]:
def series_func(df):
    df['New'] = pd.DataFrame(df.Fines / df.Refund * df.Year)

In [10]:
%%timeit
series_func(df)

285 µs ± 1.33 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [11]:
def values_func(df):
    df['New'] = pd.DataFrame(df.Fines.values / df.Refund.values * df.Year.values)

In [12]:
%%timeit
values_func(df)

171 µs ± 461 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [13]:
%%timeit
df[df['CarNumber'] == 'O136HO197RUS']

254 µs ± 1.14 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [14]:
df.set_index('CarNumber', inplace=True)

In [15]:
%%timeit
df[df.index == 'O136HO197RUS']

174 µs ± 379 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [16]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to PD16398161RUS
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  930 non-null    int64
 1   Fines   930 non-null    float64
 2   Make    930 non-null    object
 3   Model   919 non-null    object
 4   Year    930 non-null    int64
 5   New     930 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 203.7 KB

In [17]:
copy = df.copy()

In [18]:
fcols = copy.select_dtypes('float').columns
icols = copy.select_dtypes('integer').columns

copy[fcols] = copy[fcols].apply(pd.to_numeric, downcast='float')
copy[icols] = copy[icols].apply(pd.to_numeric, downcast='integer')

In [19]:
copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to PD16398161RUS
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  930 non-null    int8
 1   Fines   930 non-null    float32
 2   Make    930 non-null    object
 3   Model   919 non-null    object
 4   Year    930 non-null    int16
 5   New     930 non-null    float32
dtypes: float32(2), int16(1), int8(1), object(2)
memory usage: 184.6 KB

In [20]:
df[df.select_dtypes(['object']).columns] = df.select_dtypes(['object']).apply(lambda x: x.astype('category'))

In [21]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to PD16398161RUS
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  930 non-null    int64
 1   Fines   930 non-null    float64
 2   Make    930 non-null    category
 3   Model   919 non-null    category
 4   Year    930 non-null    int64
 5   New     930 non-null    float64
dtypes: category(2), float64(2), int64(2)
memory usage: 95.8 KB

In [23]:
%reset_selective df

gc.collect()

Nothing done.

0